.model {
    position: absolute;
    margin-top: 30px;
    width: 248px;
    background: #313131;
    padding: 34px;
    border-radius: 12px;
}

.model__ul {
    overflow-y: scroll;
    height: 305px;
}

.model__li {
    position: relative;
    transition: all ease-in .2s;
}

.model__li:hover {
    color: #B672FF;
    text-decoration-line: underline;
    cursor: pointer;
}

.model__li + .model__li {
    margin-top: 28px;
}